.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card2 {
    font-family: Poppins;
    width: 1040px;
    background-color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
}

.skill {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.skill-section {
    margin-bottom: 50px;
}

.skill-title {
    font-weight: 500;
    font-size: 22px;
    margin-left: 10px;
    border-bottom: 2px gray;
    display: inline-block;
    position: relative;
}

.skill-title::after {
    content: "";
    position: absolute;
    left: 75%;
    transform: translateX(-50%); 
    bottom: -5px;                   /* Position the line slightly below the text */
    width: 150%;                     /* Width of the underline */
    height: 2px;                    /* Thickness of the underline */
    background-color: #bad4ff;        /* Color of the underline */
}

.skill-expertise {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 10px;
}

.skill-logo-background {
    background-color: white;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.skill-logo {
    height: 100px;
    aspect-ratio: 1 / 1;
}

.skill-logo-title {
    padding: 0;
    margin: 5px 0 0 0;
    display: flex;
}

.skill-logo-desc {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 12px;
    font-style: italic;
}

.languages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
}

.language-box {
    display: flex;
    flex-direction: column;
    background-color: #c7ddff;
    width: 120px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.language {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    display: flex;
}

@media screen and (max-width: 600px) {
    .card2 {
        width: 290px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0;
        position: relative;
    }

    .skill {
        font-size: 22px;
        text-align: center;
    }

    .skill-title {
        font-size: 17px;
        margin-left: 0;
    }

    .skill-expertise {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap:40px;
        flex-wrap: wrap;
        margin-top: 5px;
    }

    .skill-wrapper {
        padding: 0;
    }

    .skill-logo {
        height: 50px;
    }
    
    .languages-wrapper {
        gap: 15px;
    }

    .language-box {
        width: 100px;
    }

    .language {
        font-size: 14px;
    }

}
